.checkout-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.checkout-container{
    margin: 0 auto;
    display: flex;
}

.top-form h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
    padding: 40px;
    font-family: 'Urbanist', sans-serif;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form input[type="password"],
.checkout-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    gap: 40px;
}

.checkout-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
