body{
    margin: 0;
}

.header{
    margin: 0 auto;
    width: 72%;
}

h1{
    font-size: 115px;
    font-family: 'Urbanist', sans-serif;
    text-align: left;
}

h2{
    font-size: 31px;
    font-family: 'Urbanist', sans-serif;
    text-align: left;
    bottom: 45px;
    position: relative;
    display: flex;
}

#main-navbar {
    font-family: Arial, sans-serif;
    background: darkgray;
}

#main-navbar ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

#main-navbar li {
    display: inline-block;
    padding: 10px 20px;
}

#main-navbar li a {
    text-decoration: none;
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    transition: color 0.3s, padding-bottom 0.3s;
}

#main-navbar li a:hover {
    padding-bottom: 3px;
    color: white;

}

#main-navbar .signin-nav {
    margin-left: 320px;
}

.main-logo{
    top: 50px;
    height: 120px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%; /* Adjust width for smaller screens */
    }

    #main-navbar {
        position: relative;
    }

    #main-navbar ul {
        text-align: center;
    }

    #main-navbar li {
        display: inline-block;
        padding: 10px 20px;
        font-size: 13px;
    }

    #main-navbar .signin-nav {
        margin-left: 20px;
    }
}

.subscription-container img {
    width: 130px;
    height: auto;
    margin-right: 50px;
}

.subscription-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #1a202c;
    border-radius: 13px;
    width: 850px;
    margin: 0 auto;
}

.subscription-container p {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin: 0;
}

.text-box{
    margin: 0 auto;
    width: 85%;
}

.text-box h3{
    text-align: left;
    font-size: 28px;
    font-family: 'Urbanist', sans-serif;
}

.divider {
    height: 3px;
    background-color: #333;
    margin: 0 auto 40px;
    width: 65%;
}


